* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "poppins", sans-serif;
}

body {
  background-color: #03132e;
  color: #ededed;
}
html {
  font-size: 100%;
}
#menu-icon {
  font-size: 3.6rem;
  color: #00abf0;
  cursor: pointer;
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header.sticky {
  background: #03132e;
}

.logo {
  position: relative;
  font-size: 1.57rem;
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.navbar {
  position: relative;
}
.navbar a {
  font-size: 1.7rem;
  color: whitesmoke;
  text-decoration: none;
  font-weight: 600;
  margin-left: 2.188rem;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: #00abf0;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}
/*Home section*/
.home {
  display: flex;
  align-items: center;
  padding: 0 9%;
  background: url("/img/coveryuki.png") no-repeat;
  background-position: center;
  background-size: cover;
}

.home-content {
  max-width: 60rem;
}

.home-content h1 {
  position: relative;
  display: inline-block;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.2;
}
.home-content .text-animate {
  position: relative;
  width: 32.8rem;
}
.home-content .text-animate h3 {
  font-size: 3.4rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 0.7px #00abf0;
  background-image: linear-gradient(#00abf0, #00abf0);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: homeBgText 6s linear infinite;
  animation-delay: 2s;
}
.home-content .text-animate h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 2px solid #00abf0;
  z-index: -1;
  animation: homeCursorText 6s linear infinite;
  animation-delay: 2s;
}

.home-content p {
  position: relative;
  font-size: 1rem;
  margin: 1.25rem 0 2.5rem;
}
.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 21.56rem;
  height: 3.1rem;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 9.37rem;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 1.18rem;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
.btn-box a:hover {
  color: #00abf0;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: #00abf0;
}
.btn-box a:nth-child(2):hover {
  color: #081b29;
}
.btn-box a:nth-child(2)::before {
  background: #00abf0;
}
.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover::before {
  width: 100%;
}

.home-imgHover {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background: transparent;
  transition: 3s;
}
.home-imgHover:hover {
  background: #03132e;
  opacity: 0.8;
}

/*About section*/

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background: #051b42;
  background-size: 2rem;
  padding-bottom: 6rem;
}
.heading {
  position: relative;
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}
span {
  color: #00abf0;
}
.about-img {
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-img img {
  width: 80%;
  border-radius: 50%;
  border: 0.2rem solid #00abf0;
}

.about-img .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: 0.2rem solid #03132e;
  border-bottom: 0.2rem solid #03132e;
  border-left: 0.2rem solid #00abf0;
  border-right: 0.2rem solid #00abf0;
  animation: aboutSpinner 8s linear infinite;
}
.about-content {
  text-align: center;
}

.about-content h3 {
  position: relative;
  display: inline-block;
  font-size: 2.6rem;
}

.about-content p {
  position: relative;
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}
.btn-box.btns {
  display: inline-block;
  width: 15rem;
}

.btn-box.btns a::before {
  background: #03132e;
}

/*education section*/
.education {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;
  font-size: 73.5%;
}
.education .education-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.education-row .education-column {
  flex: 1 1 40rem;
}

.education-column .title {
  position: relative;
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
  position: relative;
  border-left: 0.2rem solid #00abf0;
}
.education-box .education-content {
  position: relative;
  padding-left: 2rem;
  border-radius: 0.6rem;
  margin-bottom: 2rem;
}

.education-box .education-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1.1rem;
  width: 2rem;
  height: 2rem;
  background: #00abf0;
  border-radius: 50%;
}

.education-content .content {
  position: relative;
  padding: 1.5rem;
  border: 0.2rem solid #00abf0;
  border-radius: 0.6rem;
  margin-bottom: 2rem;
  overflow: hidden;
}
.education-content .content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #051b42;
  z-index: -1;
  transition: 0.5s;
}
.education-content .content:hover::before {
  width: 100%;
}
.education-content .content .year {
  font-size: 1.5rem;
  font-weight: 600;
  color: #00abf0;
  padding-bottom: 0.5rem;
}

.education-content .content h3 {
  font-size: 1.6rem;
}
.education-content .content p {
  font-size: 1rem;
  padding-top: 0.5rem;
}
/*Skills Section*/

.skills {
  min-height: auto;
  padding-bottom: 7rem;
  background: #051b42;
  font-size: 75.5%;
}
.skills .skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.skills-row .skills-column {
  flex: 1 1 40rem;
}
.skills-column .skills-box {
  position: relative;
}

.skills-column .title {
  position: relative;
  font-size: 2.5rem;
  margin: 0 0 1.5rem;
}

.skills-box .skills-content {
  position: relative;
  border: 0.2rem solid #00abf0;
  border-radius: 0.6rem;
  padding: 0.5rem 1.5rem;
  z-index: 1;
  overflow: hidden;
}
.skills-box .skills-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #03132e;
  z-index: -1;
  transition: 0.5s;
}
.skills-box .skills-content:hover::before {
  width: 100%;
}

.skills-content .progress {
  padding: 1rem 0;
}
.skills-content .progress h3 {
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
}
.skills-content .progress h3 span {
  color: #00abf0;
}
.skills-content .progress .bar {
  height: 2.5rem;
  border-radius: 0.6rem;
  border: 0.2rem solid #00abf0;
  padding: 0.5rem;
  margin: 1rem 0;
}
.skills-content .progress .bar span {
  display: block;
  height: 100%;
  border-radius: 0.3rem;
  background-color: #00abf0;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
  width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
  width: 75%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
  width: 60%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
  width: 50%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
  width: 60%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
  width: 70%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
  width: 75%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
  width: 90%;
}

.animate {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #03132e;
  z-index: 98;
}

.animate.home-img {
  width: 50%;
}

.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate {
  animation: showRight 1s ease forwards;
  animation-delay: calc(0.3s * var(--i));
}
.animate.scroll {
  transition: 1s ease;
  transition-delay: calc(0.3s / var(--i));
  animation: none;
}
.education .education-box .animate.scroll {
  width: 105%;
}

section:nth-child(odd) .animate.scroll {
  background: #051b42;
}

.about.show-animate .animate.scroll,
.education.show-animate .animate.scroll,
.education.show-animate .education-box .animate.scroll,
.skills.show-animate .animate.scroll {
  transition-delay: calc(0.3s * var(--i));
  width: 0;
}

/*animation*/
@keyframes homeBgText {
  0%,
  10%,
  100% {
    background-position: -33rem 0;
  }
  65%,
  85% {
    background-position: 0 0;
  }
}
@keyframes homeCursorText {
  0%,
  10%,
  100% {
    width: 0;
  }
  65%,
  85% {
    width: 100%;
    opacity: 1;
  }
  75%,
  81% {
    opacity: 0;
  }
}

@keyframes aboutSpinner {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes aboutSpinner {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes showRight {
  100% {
    width: 0;
  }
}

/*BREAKPOINTS RESPONSIVE*/

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 991px) {
  .header {
    padding: 2rem 4%;
  }
  section {
    padding: 10rem 4% 2rem;
  }
  .home {
    padding: 0 4%;
  }
}
@media (max-width: 371px) {
  .home {
    justify-content: center;
  }
  .home-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .header {
    background: #03132e;
  }
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 1rem 4%;
    background: #00abf0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 0.25s ease;
    transition-delay: 0.25s;
  }

  .navbar.active {
    left: 0;
    transition-delay: 0s;
  }

  .navbar .active-nav {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #03132e;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    z-index: -1;
    transition: 0.25s ease;
    transition-delay: 0s;
  }

  .navbar.active .active-nav {
    left: 0;
    transition-delay: 0.25s;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    transform: translateX(-20rem);
    transition: 0.25s ease;
    transition-delay: 0s;
  }

  .navbar.active a {
    transform: translateX(0);
    transition-delay: 0.25s;
  }
}
