@import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3rem, 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  color: whitesmoke;
  font-size: 2rem;
  padding-left: 2rem;
  cursor: default;
}
.home {
  display: flex;
  align-items: center;
  padding: 0 9%;
  background: url("/img/coveryuki.png") no-repeat;
  background-size: cover;
  background-position: center;
}
.navbar a {
  color: whitesmoke;
  text-decoration: none;
  margin-left: 2rem;
  font-weight: 600;
  padding: 0.2rem 1rem;
  border-radius: 0.4rem;
}

.navbar a:hover {
  background: green;
  overflow: hidden;
}

.card img {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  width: 40rem;
  height: 40rem;
  margin: 5rem;
}

.about {
  position: relative;
}
